body {
  background-color: beige;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 0;
  margin: 0;
}

/* Days tabs style */
[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: block;
}

.tabs {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid black;
  font-size: 22px;
}

.tab {
  cursor: pointer;
  padding: 10px;
}

.tab.active {
  background-color: lightcoral;
  border-radius: 10px;
}

.tab:hover {
  background-color: #AAAA;
  border-radius: 10px;
}

.tab-content {
  margin-left: 20px;
  margin-right: 20px;
}


/* Breakfast, Lunch and Dinner style */
#monday {
  background-color: skyblue;
  border: 5px solid coral;
  height: 700px;
  width: 750px;
  margin: 10px auto;
  text-align: center;
}

#tuesday {
  background-color: skyblue;
  border: 5px solid coral;
  height: 700px;
  width: 750px;
  margin: 10px auto;
  text-align: center;
}

#wednesday {
  background-color: skyblue;
  border: 5px solid coral;
  height: 700px;
  width: 750px;
  margin: 10px auto;
  text-align: center;
}

#thursday {
  background-color: skyblue;
  border: 5px solid coral;
  height: 700px;
  width: 750px;
  margin: 10px auto;
  text-align: center;
}
#friday {
  background-color: skyblue;
  border: 5px solid coral;
  height: 700px;
  width: 750px;
  margin: 10px auto;
  text-align: center;
}

#saturday {
  background-color: skyblue;
  border: 5px solid coral;
  height: 700px;
  width: 750px;
  margin: 10px auto;
  text-align: center;
}

#sunday {
  background-color: skyblue;
  border: 5px solid coral;
  height: 700px;
  width: 750px;
  margin: 10px auto;
  text-align: center;
}

/* Meal buttons and meal styling */
#btn1 {
  margin: 30px auto;
  height: 50px;
  width: 250;
  font-size: 22px;
  background-color: lightcoral;
  border-radius: 10px;
}

#output1 {
  margin: 10px auto 20px auto;
  font-size: 40px;
}

#btn2 {
  margin: 50px auto 30px auto;
  height: 50px;
  width: 250;
  font-size: 22px;
  background-color: lightcoral;
  border-radius: 10px;
}

#output2 {
  margin: 10px auto 20px auto;
  font-size: 40px;
}

#btn3 {
  margin: 50px auto 30px auto;
  height: 50px;
  width: 250;
  font-size: 22px;
  background-color: lightcoral;
  border-radius: 10px;
}

#output3 {
  margin: 10px auto;
  font-size: 40px;
} 

#btn4 {
  margin: 30px auto;
  height: 50px;
  width: 250;
  font-size: 22px;
  background-color: lightcoral;
  border-radius: 10px;
}

#output4 {
  margin: 10px auto 20px auto;
  font-size: 40px;
}

#btn5 {
  margin: 50px auto 30px auto;
  height: 50px;
  width: 250;
  font-size: 22px;
  background-color: lightcoral;
  border-radius: 10px;
}

#output5 {
  margin: 10px auto 20px auto;
  font-size: 40px;
}

#btn6 {
  margin: 50px auto 30px auto;
  height: 50px;
  width: 250;
  font-size: 22px;
  background-color: lightcoral;
  border-radius: 10px;
}

#output6 {
  margin: 10px auto;
  font-size: 40px;
} 

#btn7 {
  margin: 30px auto;
  height: 50px;
  width: 250;
  font-size: 22px;
  background-color: lightcoral;
  border-radius: 10px;
}

#output7 {
  margin: 10px auto 20px auto;
  font-size: 40px;
}

#btn8 {
  margin: 50px auto 30px auto;
  height: 50px;
  width: 250;
  font-size: 22px;
  background-color: lightcoral;
  border-radius: 10px;
}

#output8 {
  margin: 10px auto 20px auto;
  font-size: 40px;
}

#btn9 {
  margin: 50px auto 30px auto;
  height: 50px;
  width: 250;
  font-size: 22px;
  background-color: lightcoral;
  border-radius: 10px;
}

#output9 {
  margin: 10px auto;
  font-size: 40px;
} 

#btn10 {
  margin: 30px auto;
  height: 50px;
  width: 250;
  font-size: 22px;
  background-color: lightcoral;
  border-radius: 10px;
}

#output10 {
  margin: 10px auto 20px auto;
  font-size: 40px;
}

#btn11 {
  margin: 50px auto 30px auto;
  height: 50px;
  width: 250;
  font-size: 22px;
  background-color: lightcoral;
  border-radius: 10px;
}

#output11 {
  margin: 10px auto 20px auto;
  font-size: 40px;
}

#btn12 {
  margin: 50px auto 30px auto;
  height: 50px;
  width: 250;
  font-size: 22px;
  background-color: lightcoral;
  border-radius: 10px;
}

#output12 {
  margin: 10px auto;
  font-size: 40px;
} 

#btn13 {
  margin: 30px auto;
  height: 50px;
  width: 250;
  font-size: 22px;
  background-color: lightcoral;
  border-radius: 10px;
}

#output13 {
  margin: 10px auto 20px auto;
  font-size: 40px;
}

#btn14 {
  margin: 50px auto 30px auto;
  height: 50px;
  width: 250;
  font-size: 22px;
  background-color: lightcoral;
  border-radius: 10px;
}

#output14 {
  margin: 10px auto 20px auto;
  font-size: 40px;
}

#btn15 {
  margin: 50px auto 30px auto;
  height: 50px;
  width: 250;
  font-size: 22px;
  background-color: lightcoral;
  border-radius: 10px;
}

#output15 {
  margin: 10px auto;
  font-size: 40px;
} 

#btn16 {
  margin: 30px auto;
  height: 50px;
  width: 250;
  font-size: 22px;
  background-color: lightcoral;
  border-radius: 10px;
}

#output16 {
  margin: 10px auto 20px auto;
  font-size: 40px;
}

#btn17 {
  margin: 50px auto 30px auto;
  height: 50px;
  width: 250;
  font-size: 22px;
  background-color: lightcoral;
  border-radius: 10px;
}

#output17 {
  margin: 10px auto 20px auto;
  font-size: 40px;
}

#btn18 {
  margin: 50px auto 30px auto;
  height: 50px;
  width: 250;
  font-size: 22px;
  background-color: lightcoral;
  border-radius: 10px;
}

#output18 {
  margin: 10px auto;
  font-size: 40px;
} 

#btn19 {
  margin: 30px auto;
  height: 50px;
  width: 250;
  font-size: 22px;
  background-color: lightcoral;
  border-radius: 10px;
}

#output19 {
  margin: 10px auto 20px auto;
  font-size: 40px;
}

#btn20 {
  margin: 50px auto 30px auto;
  height: 50px;
  width: 250;
  font-size: 22px;
  background-color: lightcoral;
  border-radius: 10px;
}

#output20 {
  margin: 10px auto 20px auto;
  font-size: 40px;
}

#btn21 {
  margin: 50px auto 30px auto;
  height: 50px;
  width: 250;
  font-size: 22px;
  background-color: lightcoral;
  border-radius: 10px;
}

#output21 {
  margin: 10px auto;
  font-size: 40px;
} 